.header {
	&.is-home {
		justify-content: flex-start;
	}
	&__content {
		padding: 0 20px;
	}
	&__ttl {
		&.is-home {
			text-align: start;
			h2 {
				font-size: 1.7rem;
			}
		}
		h2 {
			font-size: 3rem;
		}
		h3 {
			font-size: 1.7rem;
		}
	}
}
