.homeService {
	padding: 150px;
	&__items {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 30px;
		row-gap: 50px;
		margin-top: 50px;
	}
	&__item {
		&-img {
			img {
				border-radius: 15px;
				width: 100%;
			}
		}
		&-ttl {
			padding: 35px 0 20px;
			text-align: center;
			h4 {
				font-size: 2rem;
				letter-spacing: 2px;
			}
		}
		&-txt {
			p {
				line-height: 2.5rem;
			}
		}
	}
}
@media (max-width: 768px) {
	@import "spHomeService";
}
