.breadcrumbs {
	background-color: #f7f7f7;
	padding: 20px 0;
	&__content {
		display: flex;
	}
	&__item {
		margin-right: 20px;
		a,
		p {
			text-transform: uppercase;
		}
		&:not(:last-child) {
			position: relative;
			&::after {
				content: ">";
				font-size: 1.5rem;
				position: absolute;
				right: -15px;
				top: 50%;
				transform: translateY(-50%);
			}
			a {
				color: #4aafd5;
			}
		}
	}
}
@media (max-width: 768px) {
	@import "spBreadcrumbs";
}
