.footer {
	background-color: #0e1419;
	padding: 80px 0;
	text-align: center;
	&__menu {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		&-item {
			padding: 15px;
			a {
				color: #fff;
				transition: 0.5s;
				&:hover {
					color: #4badd2;
				}
			}
		}
	}
	&__copyright {
		p {
			font-size: 1.3rem;
			text-transform: uppercase;
			color: #aaa;
		}
	}
}
@media (max-width: 768px) {
	@import "spFooter";
}
